ul.simple-fields-edit-field-groups-added-fields {
	border-top: 1px solid #DFDFDF;
	padding-top: 2em;
	margin-top: 1em;
	position: relative;
}
ul.simple-fields-edit-field-groups-added-fields li {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	position: relative;
}
ul.simple-fields-edit-field-groups-added-fields li:nth-child(odd) {
	/* background-color: #fff; */
}

#field_group_name,
#post_connector_name
 {
	font-size: 1.5em;
	font-weight: bold;
}

.simple-fields-field-group-one-field-name {
	font-size: 1.25em;
}

.simple-fields-field-group-one-field-row {
	margin-bottom: .75em;
}

.simple-fields-field-group-one-field-row label,
.simple-fields-field-type-options label
 {
	display: block;
}

.simple-fields-field-group-one-field-row-description {
/* 	display: none; */
}

div.delete a {
	color: #BC0B0B;
}
div.delete a:hover {
	color: #FF0000;
}

li.simple-fields-field-group-one-field {
	position: relative;
}
li.simple-fields-field-group-one-field div.delete {
	display: none;
	position: absolute;
	right: 0;
	bottom: 1em;
}
.simple-fields-field-group-delete,
.simple-fields-post-connector-delete
 {
	text-align: right;
	margin-top: -3.5em;
}
.simple-fields-field-group-delete a,
.simple-fields-post-connector-delete a
 {
	color: #BC0B0B;
}
.simple-fields-field-group-delete a:hover,
simple-fields-post-connector-delete a:hover
 {
	color: #FF0000;
}

.simple-fields-edit-post-connectors,
.simple-fields-edit-field-groups {
	xfloat: left;	
}
.simple-fields-edit-post-connectors {
	xborder-right: 1px solid #DFDFDF;
	xpadding-right: 3em;
}
.simple-fields-edit-field-groups {
	xborder-left: 1px solid #DFDFDF;
	xpadding-left: 3em;
	xmargin-left: -1px;
}

.simple-fields-edit-field-groups ul,
.simple-fields-edit-post-connectors ul,
.easy-fields-post-type-defaults ul
 {
	list-style-type: disc;
	margin-left: 20px;
}

ul.simple-fields-field-type-options-radiobutton-values-added li,
ul.simple-fields-field-type-options-dropdown-values-added li,
ul#simple-fields-post-connector-added-fields li
 {
	border: 0;
	padding: 0;
	margin: 0;
	line-height: 2.5em;
	position: relative;
	background-color: #f9f9f9;
}
.simple-fields-field-type-options-radiobutton-checked-by-default {
	margin-left: 27em;
	margin-top: -1.5em;
}
.simple-fields-field-type-options-radiobutton-handle,
.simple-fields-field-type-options-dropdown-handle,
.simple-fields-post-connector-addded-fields-handle,
.simple-fields-field-group-one-field-handle,
.simple-fields-metabox-field-group-handle
 {
	width: 16px;
	height: 16px;
	background: transparent url(icon-drag.gif) no-repeat 0 50%;
	float: left;
	cursor: move;
	margin-top: 7px;
}
.simple-fields-field-group-one-field-handle {
	margin-left: -16px;
}
.simple-fields-field-type-options-radiobutton-values-add,
.simple-fields-field-type-options-dropdown-values-add
 {
	display: block;
	margin-left: 20px;
	margin-top: .5em;
}
.simple-fields-field-type-options-radiobutton-delete,
.simple-fields-field-type-options-dropdown-delete,
.simple-fields-post-connector-addded-fields-delete
 {
	display: none;
	color: #BC0B0B;
	cursor: pointer;
	position: absolute;
	/* bottom: 0; */
	top: 0;
	left: 35em;
}
.simple-fields-field-type-options-dropdown-delete {
	left: 30em;
}
.simple-fields-field-type-options-radiobutton-delete:hover,
.simple-fields-field-type-options-dropdown-delete:hover,
.simple-fields-post-connector-addded-fields-delete:hover
 {
	color: #FF0000;
}
.simple-fields-field-type-options-radiobutton-checked-by-default-values {
	margin-left: 1em;
}

ul#simple-fields-post-connector-added-fields {
	display: block;
	position: relative;
}
ul#simple-fields-post-connector-added-fields li {
	border-bottom: 1px solid #DFDFDF;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.simple-fields-post-connector-addded-fields-options {
	margin-left: 16px;
}
.simple-fields-post-connector-addded-fields-field-name {
	font-weight: bold;
}
.simple-fields-post-connector-addded-fields-option-context {
	margin-right: 1em;
}

.easy-fields-post-type-defaults,
.simple-fields-edit-post-connectors
 {
	margin-top: 2.5em;
}

#simple-fields-post-edit-side-field-settings-select-connector-please-save {
	margin-top: .5em;
}


.simple-fields-metabox-field,
.simple-fields-metabox-field-add
 {
	margin-top: .5em;
	margin-bottom: .5em;
	margin-right: 11px;
}

.simple-fields-metabox-field label {
	font-weight: bold;
	display: block;
}
.simple-fields-metabox-field .simple-fields-for-radiobutton,
.simple-fields-metabox-field .simple-fields-for-checkbox {
	display: inline;
	font-weight: normal;
}
.simple-fields-metabox-field-radiobutton {
	display: block;
	margin-top: .5em;
	margin-bottom: .5em;
}
ul.simple-fields-metabox-field-group-fields li {
	position: relative;
}
ul.simple-fields-metabox-field-group-fields-repeatable li {
	border-top: 1px solid #ddd;
	margin-top: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 11px;
}
ul.simple-fields-metabox-field-group-fields-repeatable li.hover {
	background-color: #fffcf1;
}
ul.simple-fields-metabox-field-group-fields-repeatable li.active {
	background-color: #fff7db;
}

.simple-fields-metabox-field-group-handle {
	display: none;
}
ul.simple-fields-metabox-field-group-fields-repeatable .simple-fields-metabox-field-group-handle {
	display: block;
	margin-left: -16px;
}
.simple-fields-metabox-field-group input.text {
	border: 1px solid #dfdfdf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.simple-fields-metabox-field-group input.text,
.simple-fields-metabox-field-group textarea
{
	width: 95%;
}

.simple-fields-metabox-field-group input.simple-fields-field-type-color,
.simple-fields-metabox-field-group input.simple-fields-field-type-date
 {
	width: 6em;
}

.simple-fields-metabox-field-group .dp-choose-date {
	display: none;
}

.simple-fields-metabox-field-textarea-tinymce-wrapper {
	width: 100%;
}
.simple-fields-metabox-field-textarea-tinymce-wrapper .mce_fullscreen {
	display: none !important;
}

.simple-fields-metabox-field-textarea-tinymce-wrapper .simple-fields-metabox-field-group textarea {

}

.simple-fields-metabox-field-textarea-tinymce-media {
	padding: 5px;
}
.simple-fields-metabox-field-textarea-tinymce-media a {
	padding: 0 0 5px 10px;
}

#post-body .simple-fields-metabox-field-textarea-tinymce-wrapper .wp_themeSkin .mceStatusbar a.mceResize {
	margin: 0;
	top: 0;
}

.simple_fields_editor_switch {
	display: inline;
	padding: 5px;
}
.simple_fields_editor_switch a {
	padding: 0 0 0 2px;
}
.simple_fields_editor_switch a.selected {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.simple-fields-metabox-field-group-delete {
	position: absolute;
	left: -6px;
	top: 38px;
}
.simple-fields-metabox-field-group-delete a {
	background: transparent url(bin_closed.png) no-repeat 0 50%;
	display: block;
	opacity: .5;
	width: 16px;
	height: 16px;
}
.simple-fields-metabox-field-group-delete a:hover {
	opacity: 1;
}

ul.simple-fields-file-browser-list {
	margin: 1em;
}
ul.simple-fields-file-browser-list li {
	border-top: 1px solid #DFDFDF;
	clear: both;
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}
ul.simple-fields-file-browser-list .thumbnail {
	float: left;
}
ul.simple-fields-file-browser-list .simple-fields-file-browser-list-file-info {
	float: left;
	margin-left: 1em;
}
ul.simple-fields-file-browser-list .thumbnail img {
	width: 46px;
}
ul.simple-fields-file-browser-list li p {
	margin: 0;
}
ul.simple-fields-file-browser-list h3 {
	margin-top: 0;
	margin-bottom: 0.25em;
}

.simple-fields-metabox-field-file {
	height: 64px;
}
.simple-fields-metabox-field-with-description {
	height: 85px;
}

.simple-fields-metabox-field-file-col1 {
	width: 46px;
	height: 46px;
	background-color: #eee;
	border: 1px solid #ddd;
	overflow: hidden;
}
.simple-fields-metabox-field-file-col1 img {
	width: 46px;
	display: block;
}
.simple-fields-metabox-field-file-col2 {
	margin-left: 56px;
	margin-top: -46px;
}

.simple-fields-metabox-field-description,
.simple-fields-meta-box-field-group-description
 {
	font-style: italic;
	color: #666;
}

.simple-fields-metabox-field-file-edit, .simple-fields-metabox-field-file-clear,
.simple-fields-metabox-field-post-clear {
	border-left: 1px solid #555555;
	padding-left: 4px;
	margin-left: 4px;
}

.simple-fields-bonny-plugins-inner-sidebar {
	float: right;
	width: 210px;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #E3E3E3;
}
.simple-fields-settings-wrap {
	margin-right: -250px;
	float: left;
}

.simple-fields-meta-box-field-group-field-type-post-dialog {
	margin: 10px;
}
.simple-fields-meta-box-field-group-field-type-post-dialog p {
	margin: 0;
}

.simple-fields-meta-box-field-group-field-type-post-dialog-post-types {
/*	border-bottom: 1px solid #DFDFDF;
	padding-bottom: 10px;
	margin-bottom: 10px; */
	margin-bottom: 10px;
}
.simple-fields-meta-box-field-group-field-type-post-dialog-post-types li {
	display: inline;
	margin-right: 5px;
}
.simple-fields-meta-box-field-group-field-type-post-dialog-post-types li.selected {
	font-weight: bold;
}
.simple-fields-meta-box-field-group-field-type-post-dialog-post-posts,
.simple-fields-meta-box-field-group-field-type-post-dialog-post-posts li
 {
	line-height: 1;
	margin: 4px 0 4px 0;
}
.simple-fields-meta-box-field-group-field-type-post-dialog-post-posts-wrap {
	height: 185px;
	overflow: auto;
	border: 1px solid #DFDFDF;
	padding: 10px;
	margin-bottom: 10px;
}

.simple-fields-meta-box-field-group-field-type-post-dialog-post-posts ul {
	margin-left: 20px;
}

.simple-fields-metabox-field-taxonomymeta-terms {
	height: 100px;
	overflow: auto;
	margin-top: 5px;
}
.simple-fields-metabox-field-taxonomymeta-terms li {
	line-height: 1;
}
.simple-fields-metabox-field-taxonomymeta-terms ul.children {
	margin-left: 18px;
	margin-top: 5px;
	
}
.simple-fields-metabox-field-taxonomymeta-terms label {
	font-weight: normal;
}