<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Simple Fields<br>for WordPress</h1>
        <p>A WordPress plugin that extend Custom Fields to include textareas, WYSIWYG-editor, files, attachments – well basically anything.</p>

        <p class="view"><a href="https://github.com/bonny/WordPress-Simple-Fields">View Simple Fields on GitHub <small>bonny/WordPress-Simple-Fields</small></a></p>
        <!--
        <ul>
          <li><a href="https://github.com/bonny/WordPress-Simple-Fields/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/bonny/WordPress-Simple-Fields/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/bonny/WordPress-Simple-Fields">View On <strong>GitHub</strong></a></li>
        </ul>
        -->
      </header>
      <section>

        {{ content | markdownify }}

      </section>


       {% for section in site.front_sections %}

        <section>

          <h3>{{ section.title }}</h3>
          {{ section.content | markdownify }}

        </section>

      {% endfor %}


      <footer>
        <p>This project is maintained by <a href="https://github.com/bonny">bonny</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
